<div class="my-5"></div>
<button
  class="btn btn-primary m-3"
  routerLink="/add-book"
  activatedRoute="active"
>
  Add book
</button>
<ng-container *ngIf="appState$ | async as result" [ngSwitch]="result.dataState">
  <ng-container *ngSwitchCase="DataState.LOADING">
    <div class="col-md-12 single-note-item text-center">
      <div class="spinner-border text-info" role="status"></div>
    </div>
    <div>ceva</div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.Error">
    <app-error-page [message]="result.error"></app-error-page>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.LOADED">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
          <th>Year</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of result.data" class="bookRow" [book]="book"></tr>
      </tbody>
    </table>
  </ng-container>
</ng-container>
